@use 'variables' as *;

button {
  background-color: $secondary-yellow;
  color: $primary-purple;
  padding: $small-space;
  margin: 15px 0;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  transition:
    background-color 0.4s ease,
    padding 0.4s ease,
    background-position 0.4s ease;
  background-image: url('../../public/assets/icons/add_circle_purple.svg');
  background-repeat: no-repeat;
  background-position: right -30px center;

  &:hover {
    cursor: pointer;
    background-color: $main-yellow;
    background-position: right 15px center;
  }
}
.btn_create:hover {
  cursor: pointer;
  padding: $small-space 50px $small-space $small-space;
}

.btn_submit {
  background-image: none;
  background-color: $secondary-yellow;

  &:hover {
    cursor: pointer;
    padding: $small-space;
    background-color: $main-yellow;
  }
}

.btn_cancel,
.btn_cancel_mobile {
  background-image: none;
  background-color: rgba(255, 183, 112, 0.3);
  color: $white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn_cancel_mobile {
  display: none;
}

.filter-button {
  border-radius: 100px;
  background-color: rgba(254, 233, 212, 1);
  font-weight: 400;
  padding: 4px 8px;
  margin-right: 20px;
  border: none;
  background-image: none;

  &:hover {
    cursor: pointer;
    background-color: $secondary-yellow;
    padding: 4px 8px;
  }
}

@media (max-width: 768px) {
  .btn_cancel_mobile {
    display: flex;
  }

  // Mobil gibt es kein Hover: Icon und Hover-Farbe dauerhaft zeigen
  .btn_create {
    background-color: $main-yellow;
    background-position: right 15px center;
    padding: $small-space 50px $small-space $small-space;
  }

  .btn_submit {
    background-color: $main-yellow;
    background-image: url('../../public/assets/icons/check.svg');
    background-position: right 15px center;
    padding: $small-space 50px $small-space $small-space;

    &:hover {
      cursor: pointer;
      padding: $small-space 50px $small-space $small-space;
    }
  }
}
