@use 'variables' as *;

button {
  background-color: $secondary-yellow;
  color: $primary-purple;
  padding: $small-space;
  margin: 15px 0;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  transition:
    background-color 0.4s ease,
    padding 0.4s ease,
    background-position 0.4s ease;
  background-image: url('../../public/assets/icons/add_circle_purple.svg');
  background-repeat: no-repeat;
  background-position: right -30px center;

  &:hover {
    background-color: $main-yellow;
    background-position: right 15px center;
  }
}
.btn_create:hover {
  padding: $small-space 50px $small-space $small-space;
}

.btn_submit {
  background-image: none;
  background-color: $secondary-yellow;

  &.btn_submit:hover {
    transition: 0;
    padding: $small-space;
    background-position: none;
    background-color: $main-yellow;
  }
}

.btn_cancel {
  background-image: none;
  background-color: rgba(255, 183, 112, 0.3);
  transition: 0;
  color: $white;
  display: flex;
  align-items: center;
  gap: 10px;

  &.btn_submit:hover {
    padding: none;
    background-position: none;
    background-color: $secondary-yellow;
  }
}

.filter-button {
  border-radius: 100px;
  background-color: rgba(254, 233, 212, 1);
  font-weight: 400;
  padding: 4px 8px;
  margin-right: 20px;
  border: none;
  background-image: none;

  &:hover {
    background-color: $secondary-yellow;
    padding: 4px 8px;
  }
}
