@use 'variables' as *;

button {
  background-color: $secondary-yellow;
  color: $primary-purple;
  padding: $small-space;
  margin: 15px 0;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  transition:
    background-color 0.4s ease,
    padding 0.4s ease,
    background-position 0.4s ease;
  background-image: url('/assets/icons/add_circle.svg');
  background-repeat: no-repeat;
  background-position: right -30px center;

  &:hover {
    background-color: $main-yellow;
    background-position: right 15px center;
    padding: $small-space 50px $small-space $small-space;
  }

  &.btn_submit {
    background-image: none;

    &.btn_submit:hover {
      transition: 0;
      padding: $small-space;
      background-position: none;
      background-color: $main-yellow;
    }
  }
}

.filter-button {
  border-radius: 100px;
  background-color: rgba(254, 233, 212, 1);
  font-weight: 400;
  padding: 4px 8px;
  margin-right: 20px;
  border: none;

  &:hover {
    background-color: $secondary-yellow;
  }
}
