@font-face {
  font-family: 'Mulish';
  src: url('../../public/assets/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Nerko One';
  src: url('../../public/assets/fonts/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}
