$main-yellow: #ffb770;
$secondary-yellow: #ffcfa1;
$primary-purple: #35273a;
$secondary-light: #fee9d4;

$white: #fff;
$white-transparent: rgba(217, 217, 217, 0.08);

$light-purple: #f4e9fb;
$card-bg: #faf5fe;

//spaces
$xsmall-space: 8px;
$small-space: 15px;
$medium-space: 30px;
$big-space: 80px;

// font sizes
$xsmall-font: 14px;
$small-font: 28px;
$medium-font: 60px;
$large-font: 80px;
