@use './styles/index' as *;

body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
}

h2 {
  font-family: 'Nerko One', sans-serif;
  color: $main-yellow;
  font-size: $medium-font;
}
